@use "base.scss";

.empty {
    text-align: center;
    width: 100vw;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

.gray {
    color: base.$gray;
    opacity: 50%;
    font-size: small;
}

.margin-right {
    display: inline;
    margin-right: 10px;
}

.fa-github {
    margin-right: 5px;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: base.$background-secondairy;
    border: 16px solid base.$secondairy;
    border-radius: 16px;
    width: 80%;
    margin: 24px auto;
    padding: 16px;

    img {
        width: calc(48% - 16px);
        border: 8px groove base.$primairy;
    }
}

.old-profiles {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
}