@import "base.scss";

.empty {
    text-align: center;
    width: 100vw;
}

h1, h3 {
    text-align: center;
}

span {
    color: gray;
    opacity: 50%;
    font-size: small;
}

nav {
    background-color: black;
    display: flex;
    padding: 5px 10px;
    height: 42px;
}

.nav-item {
    display: inline;
    margin: 0 10px 0 0;
}

.nav-link {
    text-decoration: none;
    color: $text;
    padding: 0.5rem 1rem;
    display: flex;
}

.navbar-list {
    display: flex;
    margin: 0;
    padding: 0;
}

.Art-Fight-Link {
    color: $text;
    text-decoration: none;
    display: flex;
}