@use "base.scss";

.empty {
    text-align: center;
    width: 100vw;
}

h1, h3 , h4 {
    text-align: center;
}

.gray {
    color: base.$gray;
    opacity: 50%;
    font-size: small;
}

.margin-right {
    display: inline;
    margin-right: 10px;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: base.$background-secondairy;
    border: 16px solid base.$secondairy;
    border-radius: 16px;
    width: 80%;
    margin: 24px auto;
    padding: 8px;

    img {
        max-width: 50%;
        border: 8px groove base.$primairy;
    }
}

.old-profiles {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 16px;
}